<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Vue.js App</title>
  <link href="main.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/smooth-scroll@12.1.5"></script>
</head>
<body>
  <div id="app">
    <h1>イベントハンドリング</h1>
    <button v-on:click="handleClick">クリック</button>
    <!-- イベントハンドラをinputフォームに使用すると、入力内容を確認してから変数にいれる事が出来る (e.g. バリデーションチェックなど) -->
    <input v-bind:value="message" v-on:input="handleInput">
    <!-- 右ボタンを押した時のメニューを表示させない -->
    <div v-on:click.right.preven="handler">example</div>
    <h2>いろいろなイベント修飾子</h2>

    <p>.stop</p>
    <div v-on:click="handler('div1')">
      div1
      <a href="#top" v-on:click.stop="handler('div2')">('div2')</a>
      <a href="#top" v-on:click="handler('本来ならこれが出る')">stop無し</a>
    </div>

    <p>.prevent</p>
    <div v-on:click="handler('div1')">
      div1
      <!-- リンクの遷移やsubmitなど、元の処理をキャンセルする。 -->
      <a href="/" v-on:click.prevent="handler('div2')">div</a>
    </div>

    <p>.capture</p>
    <div v-on:click.capture="handler('div1')">
      div1
      <div v-on:click="handler('div2')">
        div2
        <!-- div3を押すと captureがついているやつが優先的に呼ばれる -->
        <div v-on:click="handler('div3')">div3</div>
      </div>
    </div>

    <!-- モーダルの背景部分をクリックして閉じる場合などに使用する -->
    <p>.self</p>
    <div class="overlay" v-on:click.self="close"></div>

    <!-- $emitを使用する所、.native使うと直接イベントを発火させる事が出来る -->
    <p>.native</p>
    <!-- コンポーネントをクリックするとハンドラが呼び出される -->
    <my-component v-on:click.native="handler"></my-component>
    <!-- コンポーネントをクリックしてもハンドラは呼び出されない -->
    <my-component v-on:click="handler"></my-component>

    <p>.passive</p>
    <!-- event.preventDefault()を呼び出さない事を明示的にする。 -->

    <h1>フォーム入力バインディング</h1>
    <h2>複数行テキスト</h2>
    <textarea v-model="message"></textarea>
    <pre>{{ message }}</pre>

    <h2>チェックボックス</h2>
    <label>
      <input type="checkbox" v-model="val"> {{ val }}
    </label>

    <h2>複数要素 with チェックボックス</h2>
    <label><input type="checkbox" v-model="val2" value="A">A</label>
    <label><input type="checkbox" v-model="val2" value="B">B</label>
    <label><input type="checkbox" v-model="val2" value="C">C</label>
    <p> {{ val2 }} </p>

    <h2>ラジオボタン</h2>
    <label><input type="radio" v-model="radio" value="a">A</label>
    <label><input type="radio" v-model="radio" value="b">B</label>
    <label><input type="radio" v-model="radio" value="c">C</label>
    <p> {{ radio }} </p>

    <h2>セレクトボックス</h2>
    <select v-model="select">
      <option disabled="disabled">Pleace select it</option>
      <option value="a">A</option>
      <option value="b">B</option>
      <option value="c">C</option>
    </select>
    <p>{{ select }}</p>

    <h2>複数選択 with セレクトボックス</h2>
    <select v-model="selects" multiple>
      <option disabled="disabled">Pleace select it</option>
      <option value="a">A</option>
      <option value="b">B</option>
      <option value="c">C</option>
    </select>
    <p>{{ selects }}</p>

    <h2>画像ファイル</h2>
    <!-- サムネ表示できる。 -->
    <input type="file" v-on:change="handleChange">
    <div v-if="preview"><img v-bind:src="preview"></div>

    <h2>スクロール関連</h2>
    <header v-bind:class="{ compact: scrollY > 200 }">
      200pxより下にスクロールしたら、 .compact を付与
    </header>

    <h2>スムーススクロールの実装</h2>
    <div class="content">...</div>
    <div v-on:click="scrollTop">
      ページ上部へ移動
    </div>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="main.js"></script>
</body>
</html>
